*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --primary: #388cb0e0;
  --secondary: #0d2059;
  --grey: #595F61;
  --selector: #680E09;
  --bg: #071f6ddc;
  --bg2: #6F8CF7;
  --text: #53cafd;

  
}

.elementFG {
    background: linear-gradient(var(--primary));
}

.imgSize {
  width: 70px;
}

.imgCenter {
  width: 75px;
}

.buttonShape {
  padding: 30px 32px;
  width: fit-content;
  border-radius: 600px;
  border: 0px;
  font-size: xx-large;
  color: rgb(11, 29, 109);
}

.buttonShape:hover {
  padding: 30px 32px;
  width: fit-content;
  border-radius: 600px;
  border: 0px;
  font-size: xx-large;
  color: rgb(11, 29, 109);
  border: 4px solid var(--bg);
}

.buttonShape:active{
  background-color: var(--bg);
  color: var(--search);
}

.bgImg {
  position: absolute;
  object-fit: fill;
  z-index: -1;
  filter: blur(10px);
  width: 110vw;
  height: 150vh;
  left: -1%;
}

.bodyGRP {
  position: relative;
  display: grid;
  grid-template-rows: 75px 1fr 75px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  height: 100%;
  bottom: 10%;
  grid-row: 3;
}

.mainGRP {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row: 2/3;
  gap: 100px;
  justify-items: stretch;
  align-items: stretch;
}

.headerGRP {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 0; /* empêche le contenu de forcer la row à grandir */
  overflow: hidden; /* sécurité si jamais ça dépasse quand même */
}

.logoP {
  justify-self: center;
  width: 100%;
  height: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
  object-fit: contain;
  min-height: 0;
  padding: 10px;
}

.headerTitle {
  justify-self: center;
  align-self: center;
  grid-row: 1/1;
  grid-column: 2/2;
  text-align: center;
}

.searchGRP {
  justify-self: center;
  align-self: end;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px 0px;
  padding: 10px;  
}

.searchBar {
  grid-column: 1/1;
  grid-row: 2/2;
}

.resultAmount {
  grid-column: 1/3;
  grid-row:1/1;
}

.filterBTN {
  grid-column: 2;
  grid-row: 2;
}

.cardsWindow {
  width: calc(3 * (30vw + 38px + 20px));
  overflow: hidden;
  margin: 0 auto;
  padding: 30px 0px;
  position: relative;
  align-self: center;
  grid-row: 1/2;
  /* transform: translateX(31%); */
}

.cardsGRP {
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
}

.card {
  justify-self: center;
  align-self: center;
  height: 400px;
  background: var(--bg);
  border: 3px solid white;
  border-radius: 30px;
  text-align: center;
  width: 28vw;
  margin: 0px 2.5vw;
  display: grid;
  grid-template-rows: 0.25fr 0.25fr 1fr;
  color: var(--text);
  overflow: hidden;
  flex-shrink: 0; /*Avoiding shrinking due to the size of the container*/
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.538);
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  grid-row: 1;
  align-self: center;
}

.card img {
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.infos {
  grid-row: 3;
}

.infosType{
  justify-self: flex-start;
  margin-left: 3%;
}

.infosData {
  justify-self: flex-end;
  margin-right: 3%;
}

/* .center {
  border: 3px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left{
  justify-self: center;
  align-self: center;
  overflow: hidden;
  border: 3px solid rgb(87, 87, 87);
  border-radius: 20px;
  display: flex;

}

.right {
  justify-self: center;
  align-self: center;
  overflow: hidden;
  border: 3px solid rgb(87, 87, 87);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftOut {
  justify-self: flex-end;
  align-self: center;
  overflow: hidden;
  border: 3px solid rgb(87, 87, 87);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightOut {
  justify-self: flex-start;
  align-self: center;
  overflow: hidden;
  border: 3px solid rgb(87, 87, 87);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4 1fr);
  padding: 5px;
  gap: 5px;
}

.infosType {
font-weight: bold;
text-align:left;
}

.buttonLeft {
  position: absolute;
  left: 5%;
  top: 45%;
  margin-left: 20px;
  z-index: 1;
}

.buttonRight {
  position: absolute;
  right: 5%;
  top: 45%;
  margin-right: 20px;
  z-index: 1;
}

.map {
  justify-self: center;
  align-self: center;
  grid-row: 2/3;
}

.cache {
  display: none;
}